


<div class="container">
<mat-toolbar class="header" color="primary">
  <mat-icon (click)="drawer.toggle()">menu</mat-icon>
  <span>My App</span>

<!-- new-->
<!-- i18n-matTooltip="@@Select-a-theme"  -->
  <button mat-icon-button id="theme-selector" [mat-menu-trigger-for]="themeMenu"
            matTooltip="Select a theme!"
            tabindex="-1">
        <mat-icon class="auto-flip">format_color_fill</mat-icon>
  </button>
  <mat-menu #themeMenu="matMenu">
        <mat-checkbox [checked]="isThemeDark"
                  (click)="$event.stopPropagation()"
                  (change)="toggleDarkness()"
                  class="mat-menu-item theme-selector-is-dark" >Dark
                  <!-- i18n="@@Dark" -->
        </mat-checkbox>

        <mat-grid-list cols="2" class="theme-selectors-container">
          <mat-grid-tile *ngFor="let theme of themes">
            <button mat-button class="theme-selector"
                  (click)="$event.stopPropagation(); setTheme(theme)">
              <div [attr.class]="theme + ' theme-primary center'">
                <div [attr.class]="theme + ' theme-accent'"></div>
                <div [attr.class]="theme + ' theme-warn'"></div>
                <mat-icon *ngIf="activeTheme===theme" class="center theme-check">check</mat-icon>
              </div>
            </button>
          </mat-grid-tile>
        </mat-grid-list>
      </mat-menu>
    <!-- new end -->

</mat-toolbar>
<div class="content">
<mat-drawer-container autosize>
  <mat-drawer #drawer class="example-sidenav" mode="side" opened="true" color="primary">
    <mat-list role="list">
      <ng-container *ngFor="let page of pages">
        <mat-list-item role="listitem" class="list-item">
          <a mat-list-item [routerLink]="[page.url]" class="list-link">
            <span>{{ page.title }}</span>
            <mat-icon>{{ page.icon}}</mat-icon>
          </a>
        </mat-list-item>
         <mat-divider></mat-divider>
      </ng-container>
    </mat-list>
  </mat-drawer>

  <div class="router-container">
    <mat-card class="router-wrapper-card">
        <mat-card-content>
          <router-outlet></router-outlet>
        </mat-card-content>
    </mat-card>
  </div>
</mat-drawer-container>
</div>
<div class="footer">
  balaji krishnan
</div>
</div>




